body{
	
	
	background-color:lightgrey;
	
}
.capt{
	background-color:red;
	width: 300px;
	height:100px;
	margin-top:20%;
	
	
}

#mainCaptcha{
	position: relative;
	left : 10px;
	top: 5px;
	
}

#refresh{
	position:relative;
	left:110px;
	width:30px;
	height:30px;
	bottom:45px;
	background-image: url(rpt.jpg);
}

#txtInput, #Button1{
	position: relative;
	left:4px;
	bottom: 40px;
}